//General styles

*
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  padding-top: 44px

.container
  max-width: 1200px

  margin: auto

.header
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 40px

.input
  border: 1px solid #D9D9D9
  box-sizing: border-box
  border-radius: 2px
  font-size: 16px
  line-height: 24px
  background-repeat: no-repeat
  background-position: left 11px center
  padding: 8px 35px
   
.input-address
  height: 40px
  flex: 0.8
  background-image: url("../img/home.svg")

.input-search
  background-image: url("../img/icon-search.svg")
  width: 306px
  margin-left: auto




.buttons
  display: flex
  align-items: center
  

.button
  display: flex
  align-items: center
  padding: 8px 16px
  background: #FFFFFF
  border: 1px solid #D9D9D9
  box-sizing: border-box
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015)
  border-radius: 2px
  color: #595959
  font-size: 16px
  line-height: 24px
  
  &-primary
    background: #1890FF
    border: 1px solid #1890FF
    color: #FFFFFF
    margin-right: 10px
  &-icon
    margin-right: 6px
    vertical-align: middle
  &-text
    vertical-align: middle

.main
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%)

.promo
  box-shadow: 0 7px 12px rgba(158, 158, 163, 0.1)
  background: #FFF1B8 url("../img/promo-image.jpeg")  no-repeat top -113px right -263px/903px
  border-radius: 10px
  padding: 68px 70px

  &-title
    font-style: normal
    font-weight: bold
    font-size: 39px
    line-height: 46px
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  

  &-text
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 28px
    color: #302C34
    width: 538px


.section-heading
  padding-top: 56px
  display: flex
  align-items: center
  margin-bottom: 44px
  .tanuki-title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 42px
    padding-right: 30px
  .heading-rating
    padding: 0
    margin: 0

.cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between
.card
  flex-basis: 30%
  background: #FFFFFF
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05)
  border-radius: 7px
  margin-bottom: 30px
  align-items: center
  overflow: hidden
  text-decoration: none
.card-header
  margin: 20px 24px
  display: flex
  justify-content: space-between
  align-items: center
.card-heading
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    color: #000000
.card-info
  flex-wrap: wrap
  justify-content: space-between
  .card-heading-reg
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 27px
  .ingredients
    margin-bottom: 10px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 18px
    height: 96px
  .tag-price
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 32px
.card-tag
    background: #262626
    border-radius: 2px
    height: 22px
    color: #FFFFFF
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 20px
    padding: 1px 8px
.card-image-wrap
  display: flex
  justify-content: center
  align-items: center


.card-bottom
  display: flex
  align-content: center
  margin: 10px 24px 34px 24px
  .rating
    color: #FFC107
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 32px
    padding-right: 26px
    .rating-star
      margin-right: 7.5px
  .price
    color: #8C8C8C
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    padding-right: 10px
    padding-left: 7.5px
    &:after
      content: ""
      width: 5px
      height: 5px
      background: #8C8C8C
      border-radius: 50%
      display: inline-block
      vertical-align: middle
      margin-left: 10px
  .category
    color: #8C8C8C
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
  .tanuki-link
    color: black
    text-decoration: none
    &:visited
      color: black
.footer
  &-items
    display: flex
    justify-content: space-between
    align-items: center
    padding: 60px 0

  &-links
    margin-right: auto
    margin-left: 35px

  &-link
    color: #595959
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 21px
    text-decoration: none
    &:not(:last-child)
      margin-right: 15px
  &-social
    .icon-social
      width: 30px
      height: 30px

.footer-social
  .icon-social:not(:last-child)
        margin-right: 7px


//modal window settings


.modal
  display: none
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.4)


.modal-open
  display: flex


.modal-dialog
  max-width: 780px
  width: 95%
  background: #FFFFFF
  border-radius: 5px
  margin: auto
  padding: 40px 45px

.modal-header
  display: flex
  justify-content: space-between
  margin-bottom: 45px

.modal-title
  margin: 0
  font-style: normal
  font-weight: bold
  font-size: 36px
  line-height: 42px

.close
  font-size: 36px
  border: none
  background-color: transparent

.modal-body
  margin-bottom: 60px

.food-row
  display: flex
  align-items: center
  justify-content: space-between
  padding-bottom: 8px
  border-bottom: 1px solid #D9D9D9
  margin-bottom: 15px

.food-name
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 32px

.food-price
  margin-left: auto
  margin-right: 47px
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 32px

.counter
  margin: 0 13px
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 24px

.counter-button
  background: #FFFFFF
  border: 1px solid #40A9FF
  box-sizing: border-box
  border-radius: 2px
  width: 39px
  height: 32px
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 22px
  color: #40A9FF

.modal-footer
  display: flex
  align-items: center
  justify-content: space-between

.modal-pricetag
  background: #262626
  border-radius: 5px
  font-style: normal
  font-weight: bold
  font-size: 20px
  line-height: 23px
  color: #FAFAFA
  padding: 15px 20px

.footer-buttons
  display: flex
  align-items: center



@media (max-width: 1366px)
  .container
    max-width: 960px
  .promo
    background: #FFF1B8 url("../img/promo-image.jpeg")  no-repeat top -113px right -263px/800px

@media (max-width: 992px)
  .container
    max-width: 750px

  .promo
    background: #FFF1B8 url("../img/promo-image.jpeg")  no-repeat top -15px right -263px/600px
    border-radius: 10px
    padding: 48px 50px

    &-title
      font-size: 36px

    &-text
      font-size: 18px
      width: 60%

  .restaurants
    .cards
      .card
        flex-basis: 49%
.footer-link
  font-size: 15px

@media (max-width: 768px)
  .container
    max-width: 560px

  .header
    flex-wrap: wrap
    justify-content: space-between
    .input-address
      order: 3
      margin-top: 20px
      flex-basis: 100%

  .promo
    background: #FFF1B8 url("../img/promo-image.jpeg")  no-repeat top -15px right -150px/400px
    border-radius: 10px
    padding: 28px 40px
  .promo-title
    font-size: 26px
    line-height: 1.5
  .promo-text
    font-size: 16px
    line-height: 1.5

  .card-bottom
    flex-wrap: wrap
  .rating
    flex-basis: 100%
  .heading-rating
    display: flex
    .tanuki-rating
      display: flex
      flex-basis: 20%

  .restaurants
    .cards
      .card
        .price
          padding-left: 0
  .footer-logo
    margin-right: 20%
    order: 2
  .footer-links
    order: 1
  .footer-social
    order: 3

  .footer-links
    display: flex
    flex-direction: column


@media (max-width: 578px)
  .container
    max-width: 90%
  body
    padding-top: 20px
  .header
    flex-wrap: wrap
    justify-content: space-between
    .buttons
      margin-top: 10px
    .input-address
      order: 3
      margin-top: 20px
      flex-basis: 100%
  .promo
    background: #FFF1B8
    border-radius: 5px
    padding: 8px 20px
  .promo-title
    font-size: 24px
    line-height: 1.4
  .promo-text
    font-size: 14px
    line-height: 1.4
    width: 100%
    flex-wrap: wrap

  .footer
    .footer-items
      flex-direction: column
      padding: 30px 0
      justify-content: center
      flex-wrap: wrap
      .footer-logo
        margin: 0
        order: 1
  .footer-links
    margin: 15px auto
    display: flex
    flex-direction: column
    align-items: center
    order: 2
  .footer-social
    margin-top: 10px
    order: 3
  .footer-link:not(:last-child)
    margin: 0

  .restaurants
    .cards
      .card
        flex-basis: 100%
    .section-heading
      align-items: center
      justify-content: center
      flex-wrap: wrap
  .input-search
    margin: auto
  .cards
      justify-content: center
  .card
    flex-basis: 100%
    &-img
      width: 100%

@media (max-width: 362px)
  .header
    justify-content: center

