* {
	box-sizing: border-box;
}

.box {
	background-color: black;
	height: 75px;
	position: fixed;
	display: block;	
	width: 100%;
	top: 0;
	left: 0;
}

.shapka {
	color: white;
	position: absolute;
	padding-top: 10px;
	padding-left: 50px;
}

.links {
text-align: right;
padding-right: 50px;
padding-top: 10px;
color: white;
}


a {
	color: white;
	display: inline-block;
}

.fish {
	margin-top: 80px;
}