@charset "UTF-8";
html {
  font-size: 10px; }

body {
  font-family: ProximaNova_reg, sans-serif; }

a:hover {
  text-decoration: none; }

button:focus, input:focus, a:focus, textarea:focus {
  outline: none; }

button:hover {
  cursor: pointer;
  background-color: #e3a103; }

.form-input {
  display: block;
  border-radius: 5px;
  margin: 2rem 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #dddddd; }
.form label {
  position: absolute;
  background-color: #fff;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem; }
.form-btn {
  display: block;
  width: 100%;
  height: 6.3rem;
  font-size: 1.6rem;
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase; }

section {
  padding: 10rem 0; }

.header {
  height: 7rem; }

.main {
  padding: 3rem 0 5rem;
  background: #fff url("../img/main-bg.png") center center no-repeat;
  background-size: cover; }
  .main-content {
    margin-top: 10rem; }
    .main-content h1 {
      margin-top: 0;
      margin-bottom: 4rem;
      text-transform: uppercase;
      font-size: 4rem;
      font-family: ProximaNova_bold, sans-serif;
      line-height: 1.45; }
  .main-subtitle {
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 2.4rem; }
  .main span {
    display: inline-block;
    background-color: #46b814;
    padding: 3rem 5rem;
    font-size: 1.8rem;
    color: #fff;
    text-align: center; }
    .main span strong {
      font-size: 3rem;
      font-family: ProximaNova_bold, sans-serif; }
  .main-trigger {
    font-size: 2.2rem;
    text-transform: uppercase;
    display: block;
    margin-top: 3rem;
    font-family: ProximaNova_bold, sans-serif; }
  .main-form {
    background-color: #fff;
    padding: 4rem 4.6rem;
    text-align: center; }
    .main-form-header {
      font-size: 1.8rem; }
      .main-form-header strong {
        font-size: 1.9rem; }
  .main small {
    display: block;
    margin-top: 1.5rem;
    font-size: 1.3rem; }

.button {
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: ProximaNova_reg, sans-serif;
  height: 50px;
  transition: all 0.2s; }
  .button:hover {
    cursor: pointer;
    background-color: #e3a103; }

.phone-block {
  text-align: right; }
.phone-link {
  display: inline-block;
  font-family: ProximaNova_bold, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  height: 2rem;
  line-height: 7rem;
  color: #1a1820; }

.wrap {
  display: table;
  width: 100%;
  height: 7rem; }
  .wrap-block {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }

.section-header {
  text-align: center;
  margin: 2rem 0 10rem; }
  .section-header_light {
    color: #fff;
    font-size: 3.4rem;
    font-family: ProximaNova_bold, sans-serif; }
    .section-header_light p {
      font-size: 1.4rem; }
  .section-header h2 {
    font-size: 3.6rem;
    font-family: ProximaNova_bold, sans-serif; }
  .section-header p {
    font-size: 1.4rem; }

.features-block {
  text-align: center; }
  .features-block h3 {
    font-family: ProximaNova_bold, sans-serif;
    font-size: 2rem; }
  .features-block p {
    display: inline-block;
    width: 80%;
    font-size: 1.4rem;
    margin-top: 3rem; }
.features-img img {
  height: 8rem;
  display: block;
  margin: 0 auto 3rem; }

.small-link {
  color: green; }
  .small-link:hover {
    color: green; }

.slick-active {
  outline: none; }

.arrow {
  width: 2rem;
  height: 2rem;
  border: none;
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: scaleY(-50%); }

.prev {
  background: url("../img/left-arrow.svg") center no-repeat;
  left: 0;
  background-size: 70%; }

.next {
  background: url("../img/right-arrow.svg") center no-repeat;
  right: 0;
  background-size: 70%; }

.feedback {
  background: url("../img/feedback/feedback-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative; }
  .feedback-prev-btn {
    left: -4rem; }
  .feedback-next-btn {
    right: -4rem; }
  .feedback-text {
    position: relative;
    margin-top: 2rem;
    font-style: italic;
    padding: 1rem;
    border: 2px solid #46b814; }
    .feedback-text::before {
      content: "";
      position: absolute;
      display: block;
      top: -2rem;
      left: 4rem;
      width: 2rem;
      height: 2rem;
      background-color: #fff;
      border: 2px solid #46b814;
      border-bottom: none;
      border-top-right-radius: 100px; }
  .feedback-slider {
    padding: 5rem 6rem;
    box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.11);
    background-color: #fff; }
    .feedback-slider .media {
      margin-top: 3rem;
      font-size: 1.4rem; }
      .feedback-slider .media h4 {
        font-family: ProximaNova_bold, sans-serif; }
    .feedback-slider p {
      font-size: 1.6rem; }
    .feedback-slider-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      height: 5rem;
      background-color: #46b814;
      border: none; }
      .feedback-slider-btn img {
        width: 50%; }
  .feedback-form {
    margin-top: 5rem;
    text-align: center;
    padding: 4rem 10rem;
    background-color: #fff;
    font-family: ProximaNova_bold, sans-serif; }
    .feedback-form h3 {
      margin-bottom: 1rem;
      font-family: ProximaNova_bold, sans-serif;
      font-size: 2rem; }
    .feedback-form label {
      top: 2rem; }
  .feedback-btn {
    max-width: 30rem;
    margin: auto; }

.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem; }

/*ОФОРМЛЕНИЕ ВСПЛЫВАЮЩИХ ОКОН */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*------ СЕКЦИЯ С ЦЕНАМИ------- */ }
  .popup-content {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 4rem 6rem; }
  .popup-form {
    margin-top: 3rem;
    width: 20rem;
    padding: 0; }
  .popup-close {
    position: absolute;
    top: -1.2rem;
    right: -2rem;
    width: 2rem;
    border: none;
    text-align: center;
    background-color: transparent;
    font-size: 2rem;
    color: #fff; }
  .popup-content {
    text-align: center; }
  .popup-header {
    font-family: ProximaNova_bold, sans-serif; }

.price {
  background: #46b814 url("../img/price/prices-bg.jpg") repeat center;
  /*----- КАРТОЧКИ С ТАРИФАМИ----- */ }
  .price-header-btn {
    margin-top: 2.5rem; }
  .price-button {
    text-align: right; }
  .price-btn {
    padding: 1rem 5rem;
    font-size: 1.3rem; }
  .price-block {
    padding: 1rem 3rem 4rem;
    min-height: 50rem;
    background-color: #fff;
    box-shadow: 7px 12px 21px 0 rgba(0, 0, 0, 0.17);
    text-align: center; }
    .price-block h4 {
      margin: 3rem 0;
      font-size: 1.9rem;
      font-family: ProximaNova_bold, sans-serif; }
    .price-block img {
      width: 100%;
      max-width: 30rem;
      display: inline-block;
      padding-bottom: 2rem; }
  .price-tag {
    font-size: 1.9rem;
    font-family: ProximaNova_bold, sans-serif;
    display: block;
    padding-bottom: 2rem; }
  .price-list {
    min-height: 14rem;
    line-height: 1.6;
    list-style: none;
    padding: 0;
    font-size: 1.6rem; }
    .price-list li::before {
      content: "";
      display: inline-block;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 1rem;
      background: url("../img/price/check.svg") no-repeat center;
      background-size: 100%;
      vertical-align: middle; }

@media (min-width: 1199px) {
  .feedback-form {
    padding: 3rem 1rem; } }
@media (max-width: 1199px) {
  .price-button {
    text-align: center;
    padding: 2rem 0; }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem; }
  .price-block {
    margin-top: 2rem; }

  .section-header_light {
    margin-bottom: 0; }

  .fotorama {
    margin-bottom: 3rem; }

  .feedback-form {
    padding: 3rem 1rem; } }
@media (max-width: 991px) {
  .main {
    background-position: top right; }

  .phone-block {
    text-align: center; }

  .main-content {
    margin-top: 3rem; }

  .main-title {
    text-align: center;
    padding-bottom: 3rem; }

  .form {
    text-align: center; }

  .price-button {
    text-align: center;
    padding: 2rem 0; }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem; }
  .price-block {
    margin-top: 2rem; }

  .section-header_light {
    margin-bottom: 0; }

  .feedback-btn {
    width: 20rem; } }
@media (max-width: 767px) {
  .logo {
    display: block;
    text-align: center; }

  .phone-link {
    display: block;
    text-align: center; }

  .wrap-block {
    display: block;
    text-align: center; }

  .main-title {
    padding-top: 3rem; }

  .main {
    background-position: top left; }

  .header {
    height: 17rem; }

  .feedback-form {
    padding: 2rem 0rem; }
  .feedback-btn {
    width: 20rem; }

  .hand {
    display: none; } }

/*# sourceMappingURL=style.css.map */
