html {
  font-size: 10px;
}

body {
  font-family: ProximaNova_reg, sans-serif;
}

a:hover {
  text-decoration: none;
}

button:focus, input:focus, a:focus {
  outline: none;
}

button:hoover {
  cursor: pointer;
  background-color: #e3a103;
}

section {
  padding: 10rem 0;
}

.header {
  height: 7rem;
}

.main {
  padding: 3rem 0 5rem;
  background: #fff url("../img/main-bg.png") center center no-repeat;
  background-size: cover;
}

.main-content {
  margin-top: 10rem;
}

.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-family: ProximaNova_bold, sans-serif;
  line-height: 1.45;
}

.main-subtitle {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.main span {
  display: inline-block;
  background-color: #46b814;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.main span strong {
  font-size: 3rem;
  font-family: ProximaNova_bold, sans-serif;
}

.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  display: block;
  margin-top: 3rem;
  font-family: ProximaNova_bold, sans-serif;
}

.main-form {
  background-color: #fff;
  padding: 4rem 4.6rem;
  text-align: center;
}

.main-form-header {
  font-size: 1.8rem;
}

.main-form-header strong {
  font-size: 1.9rem;
}

.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.7rem;
  border-color: 1px solid #dddddd;
}

.main-form label {
  position: absolute;
  background-color: #fff;
  padding: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
}

.main-form-btn {
  display: block;
  width: 100%;
  height: 6.3rem;
  font-size: 1.6rem;
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
}

.main small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.button {
  background-color: #fcb303;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: ProximaNova_reg, sans-serif;
  height: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}

.phone-block {
  text-align: right;
}

.phone-link {
  display: inline-block;
  font-family: ProximaNova_bold, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}

.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}

.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}

@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .form {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .logo {
    display: block;
    text-align: center;
  }
  .phone-link {
    display: block;
    text-align: center;
  }
  .wrap-block {
    display: block;
    text-align: center;
  }
  .main-title {
    padding-top: 12rem;
  }
  .main {
    background-position: top left;
  }
}
/*# sourceMappingURL=style.css.map */