h1 {
	text-align: center;
}

h2 {
	text-align: center;
}
 
 #predislovie {
text-align: left;
 }

h3 {
	text-align: center;
}

/* Glava 1  */

#imagine1, #imagine2, #imagine3, #imagine4, #imagine5, 
#imagine6, #imagine7, #imagine8, #imagine9, #imagine10, #imagine11,
#imagine12 {
	width: 300px;
}

div {
	text-align: center;
}

p {
	text-align: left;
}
